<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> {{__("Clients")}}</h1>
</span>

<span class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Gestion des clients")}}</h1>
        </span>
        <div class="div-box-body bg-white">
            <p>&nbsp;</p>            
            <p align="center">
                <a href="/admin/client/search" title="{{__("rechercher un client")}}"><span class="button">{{__("rechercher")}}</span></a>
            </p>
            <p>&nbsp;</p>            
            <p align="center">
                <a href="static/pdf/autour2vous_presentation.pdf"><span class="button">Présentation PDF</span></a>
                <a href="static/pdf/autour2vous_presentation.pptx"><span class="button">Présentation PPT</span></a>
            </p>
        </div>
    </span>
</span>