<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> {{__("Email")}}</h1>
</span>

<span class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Envoi d'email")}}</h1>
        </span>
        <div class="div-box-body bg-white">  
            {% if result is defined %}
                <div>
                    {% if result == 'ok'%}
                        <h1 style='color: #0000ff'>{{__("Email envoyé")}}</h1>
                    {% else %}
                        <h1 style='color: #ff0000'>{{__("L'envoi a échoué")}}</h1>
                    {% endif %}
                </div>
            {% endif %}
            
            <select name="select-choose-sender" class="email-choose-sender">
                <option>{{__("Choisir l'expéditeur")}}</option>
                {% if admin.status == 1 or admin.login == "anthony" %}
                    <option value="0">Anthony</option>
                {%endif%}
                {% if admin.status == 1 %}
                    <option value="1">David</option>
                {%endif%}
            </select>
            
            <form action="/admin/email" method="post" class="form-email-david" style="display:none;">
                <input type="text" name="to" required="required" placeholder="adresse(s) email"/>
                <input type="text" name="subject" required="required" placeholder="sujet" />
                <input type="text" name="contact" required="required" placeholder="à M/Mme Dupont" /><br />
                <hr />
                <input type="text" name="title[0]" required="required" placeholder="Titre du bloc 1" />
                <textarea placeholder="bloc 1" name="message[0]" required="required" style="width:90%;"></textarea>
                <input type="text" name="title[1]" placeholder="Titre du bloc 2" />
                <textarea placeholder="bloc 2" name="message[1]" style="width:90%;"></textarea>
                <input type="text" name="title[2]" placeholder="Titre du bloc 3" />
                <textarea placeholder="bloc 3" name="message[2]" style="width:90%;"></textarea>
                <input type="text" name="title[3]" placeholder="Titre du bloc 4" />
                <textarea placeholder="bloc 4" name="message[3]" style="width:90%;"></textarea>                
                <input type="hidden" name="sender_name" value="David Chabrier" />
                <input type="hidden" name="sender_function" value="Président" />
                <input type="hidden" name="sender_phone" value="07 88 50 41 57" />
                <input type="submit" class="btn-form btn-form-p" value="envoyer" />
            </form>            
            <form action="/admin/email" method="post" class="form-email-anthony" style="display:none;">
                <input type="text" name="to" required="required" placeholder="adresse(s) email"/>
                <input type="text" name="subject" required="required" placeholder="sujet" />
                <input type="text" name="contact" required="required" placeholder="à M/Mme Dupont" /><br />
                <hr />
                <input type="text" name="title[0]" required="required" placeholder="Titre du bloc 1" />
                <textarea placeholder="bloc 1" name="message[0]" required="required" style="width:90%;"></textarea>
                <input type="text" name="title[1]" placeholder="Titre du bloc 2" />
                <textarea placeholder="bloc 2" name="message[1]" style="width:90%;"></textarea>
                <input type="text" name="title[2]" placeholder="Titre du bloc 3" />
                <textarea placeholder="bloc 3" name="message[2]" style="width:90%;"></textarea>
                <input type="text" name="title[3]" placeholder="Titre du bloc 4" />
                <textarea placeholder="bloc 4" name="message[3]" style="width:90%;"></textarea>                
                <input type="hidden" name="sender_name" value="Anthony Asole" />
                <input type="hidden" name="sender_function" value="Directeur commercial" />
                <input type="hidden" name="sender_phone" value="06 18 99 61 66"/>
                <input type="submit" class="btn-form btn-form-p" value="envoyer" />
            </form>
        </div>
    </span>
</span>