<span class="ariane-header">
    <h1><a href="/admin">{{__("Admin")}}</a> -> {{__("Gestion des modérations")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Menu")}}</h1>
        </span>
        <div class="div-box-body">  
            <p>               
                <a href="/admin/moderate/photo/public" title="{{__("photos publiques")}}"><span class="button">{{__("photos publiques")}}</span></a>            
            </p>
            <p>
                <a href="/admin/moderate/photo/private" title="{{__("photos privées")}}"><span class="button">{{__("photos privées")}}</span></a>            
                
            </p>

        </div>
    </span>
</div>